{% extends 'blog/blog_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-4 offset-4 mb-5 mt-5">
<h3>{{ title }} an article</h3>
{{ form.media }}
<form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" name="draft" value="Update" />
    {% if not object.published_at %}
    <input class="btn btn-secondary" type="submit" name="publish" value="Publish" />
    {% endif %}
</form>

</div>


{% endblock %}
