{% extends 'blog/blog_base.html' %}
{% load sorl_thumbnail %}


{% block content %}
<div class="container">
    <div class="row">
        {% if t == 0 %}
        <h2 class="dark">Recent Posts</h2>
        {% elif t == 1 %}
        <h2 class="dark">{{post_user.username}}'s Posts </h2>
        {% endif %}
        <hr style="border-top: 5px solid grey" >

        {% for post in posts %}
        {% if post.published_at %}

        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="{% url 'blog:post_detail' slug=post.slug %}" class="list-header-image">

                        {% if post.thumbnail %}

                        {% thumbnail post.thumbnail "200x270" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}

                        {% else %}
                        <img src="/media/post_images/post_thumbnail_default.jpg" width="200" height="270">
                        {% endif %}
                    </a>
                </div>
                <div class="list-content">

                    <h2><a href="{% url 'blog:post_detail' slug=post.slug %}" class="text-black">{{post.title}}</a></h2>
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> {{post.published_at|date:"D d M Y"}}</span>
                    	<a href="#" class="list-meta-item"><i class="far fa-thumbs-up"></i>  {{post.like_count}}</a>
                        <span class="list-meta-item"><i class="fa fa-eye"></i> {{post.view_count}}</span>

                    </span>
                    <span class="list-meta">
                        {% if not post.is_anonymous %}
                        <a style="color:blue" href="{% url 'accounts:profile' username=post.author.username %}" class="list-meta-item"><i class="fas fa-user"></i>  By {{post.author.username}}</a>
                        {% else %}
                        <span style="color:red" class="list-meta-item"><i class="fas fa-user-shield"></i>  Written as anonymously</span>
                        {% endif %}
                    </span>
                    <p>{{post.overview|truncatewords:30|safe}}<p>
                </div>
            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>
</div>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
