{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="row profile">
    	<div class="col-md-3">
    		<div class="profile-sidebar">
    			<!-- SIDEBAR USERPIC -->
    			<div class="profile-userpic">
                    <img
                    {% if profile.avatar %}
                        src="{{ profile.avatar.url }}"
                    {% else %}
                        src="/media/user_profile_images/user_profile_default.png"
                    {% endif %}
                    class="img-responsive" alt="">
    			</div>
    			<!-- END SIDEBAR USERPIC -->
    			<!-- SIDEBAR USER TITLE -->
    			<div class="profile-usertitle">

    				<div class="profile-usertitle-name">
                        {% if profile.user.is_superuser %}
                            Admin
                        {% else %}
    					   {{ profile.user.first_name }} {{ profile.user.last_name }}
                        {% endif %}
    				</div>
    				<div class="profile-usertitle-job grey-text">
                        @{{ profile.user.username }}
    				</div>
    			</div>
    			<!-- END SIDEBAR USER TITLE -->
    			<!-- SIDEBAR BUTTONS -->
    			<div class="profile-userbuttons">
                    {% if request.user.id == profile.user.id %}
                        <a class="btn btn-primary" href="{% url 'accounts:user_profile_update' %}">Edit</a>
                    {% else %}

                        {% if is_follower %}
                            <a class="btn btn-primary" href="{% url 'accounts:unfollow' pk=profile.pk %}">Unfollow</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'accounts:follow' pk=profile.pk %}">Follow</a>
                        {% endif %}
                    {% endif %}
    			</div>
    			<!-- END SIDEBAR BUTTONS -->
    			<!-- SIDEBAR MENU -->
    			<div class="profile-usermenu">
    				<ul class="nav">
    					<li class="active">
    						<a href="{% url 'accounts:about' pk=profile.pk %}">
    						<i class="glyphicon glyphicon-home"></i>
    						About {{profile.user.first_name}}</a>
    					</li>
    					<li>
    						<a href="{% url 'blog:user_posts' username=profile.user.username %}">
    						<i class="glyphicon glyphicon-user"></i>
                            {% if profile.user.is_superuser %}
                                {{profile.user.username}}'s Posts
                            {% else %}
    						    {{ profile.user.first_name }}'s Posts
                            {% endif %} </a>
    					</li>
    					<li>
    						<a href="#" target="_blank">
    						<i class="glyphicon glyphicon-upload"></i>
                            {% if profile.user.is_superuser %}
                                {{profile.user.username}}'s Uploads
                            {% else %}
    						    {{ profile.user.first_name }}'s Uploads
                            {% endif %}
                             </a>

    					</li>
    				</ul>
    			</div>
    			<!-- END MENU -->

           <div class="portlet light bordered">
                                                <!-- STAT -->
                                                <div class="row list-separated profile-stat">
                                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                                        <div class="uppercase profile-stat-title"> 37 </div>
                                                        <div class="uppercase profile-stat-text"> Projects </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                                        <div class="uppercase profile-stat-title"> {{ profile.followers_count }} </div>
                                                        <div class="uppercase profile-stat-text"> Followers </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                                        <div class="uppercase profile-stat-title"> 61 </div>
                                                        <div class="uppercase profile-stat-text"> Uploads </div>
                                                    </div>
                                                </div>
                                                <!-- END STAT -->
                                                 <div>
                                                    <h4 class="profile-desc-title">About Jason Davis</h4>
                                                    <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                                                    <div class="margin-top-20 profile-desc-link">
                                                        <i class="fa fa-globe"></i>
                                                        <a href="https://www.apollowebstudio.com">apollowebstudio.com</a>
                                                    </div>
                                                    <div class="margin-top-20 profile-desc-link">
                                                        <i class="fa fa-twitter"></i>
                                                        <a href="https://www.twitter.com/jasondavisfl/">@jasondavisfl</a>
                                                    </div>
                                                    <div class="margin-top-20 profile-desc-link">
                                                        <i class="fa fa-facebook"></i>
                                                        <a href="https://www.facebook.com/">JasonDavisFL</a>
    </div></div></div>



    		</div>
    	</div>
    	<div class="col-md-9">
            <div class="profile-content">
                {% block pcontent %}
                    {% include "accounts/user_info.html" %}
                {% endblock %}
            </div>
    	</div>
    </div>
    </div>
{% endblock %}
